.u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px 31px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  animation-duration: 1000ms;
  margin: 98px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 22px 575px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 24px auto 0 0;
  padding: 10px 73px 10px 72px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 22px auto 0 0;
  padding: 11px 21px 12px 19px;
}

.u-section-1 .u-image-1 {
  width: 545px;
  height: 480px;
  animation-duration: 1000ms;
  margin: -370px -25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 282px;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 999px;
}

.u-section-2 .u-text-1 {
  margin: 60px 96px 0;
}

.u-section-2 .u-text-2 {
  width: 631px;
  margin: 0 auto;
}

.u-section-2 .u-blog-1 {
  min-height: 417px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 50px auto 50px 0;
  padding: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-auto-rows: 100%;
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/734700ef7ed41f6a6e0fd262ea65a90682018053e7990b8c302c31ad4527849f6b3ba8c02f96713f0540c6c999330bb7027c36bb4bdf8ab9f81c79_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 220px 0 0;
}

.u-section-2 .u-metadata-1 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  letter-spacing: normal;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/3b6edb6225d45322c486d79bd93f43c9d9ddeeca023e2b1d399a201592cfbc712524def44490253aead37ede53c2a2d0c737b45c064493c4e8fc39_1280.jpg");
  background-position: 48.57% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 220px 0 0;
}

.u-section-2 .u-metadata-2 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-3 {
  background-image: url("images/cc82356004de3c7c228ff53b8a89e82f3effdf6f0da88cca478ce4280e5cabf90939447c7fc3abfef73e5adb51ed4e02e7f6323d60a7a0a216bbb0_1280.jpg");
  background-position: 23.53% 50%;
}

.u-section-2 .u-blog-1 {
  min-height: 417px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 50px auto 50px 0;
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 220px 0 0;
}

.u-section-2 .u-metadata-3 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  text-transform: none;
  letter-spacing: normal;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    margin: 17px 0 0;
  }

  .u-section-2 .u-image-1 {
    margin: 19px 0 0;
  }

  .u-section-2 .u-container-layout-1 {
    margin: 19px 0 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    margin: 19px 0 0;
  }

  .u-section-2 .u-container-layout-2 {
    background-size: auto;
  }

  .u-section-2 .u-text-6 {
    padding: 0 0 30px;
  }

  .u-section-2 .u-btn-2 {
    padding: 0 0 30px;
  }

  .u-section-2 .u-image-3 {
    margin: 19px 0 0;
  }

  .u-section-2 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    background-size: auto;
  }

  .u-section-2 .u-metadata-3 {
    border-style: none;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 20px);
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    grid-auto-rows: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-blog-1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 20px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-blog-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-blog-1 {
    padding-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    background-position: 23.7% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-metadata-1 {
    padding: 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 12px 16px;
  }

  .u-section-2 .u-image-2 {
    background-position: 23.7% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-metadata-2 {
    padding: 0;
  }

  .u-section-2 .u-btn-2 {
    padding: 12px 16px;
  }

  .u-section-2 .u-image-3 {
    background-position: 23.7% 50%;
  }

  .u-section-2 .u-blog-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-btn-3 {
    padding: 12px 16px;
  }
}