.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/df-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1239px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1073px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 30px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 8px -90px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 33px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 159px 0 0 auto;
  padding: 8px 31px 9px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -39px 95px 0 0;
}

.u-section-1 .u-image-1 {
  height: 265px;
  animation-duration: 1000ms;
  margin: 33px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 62px -90px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 143px;
  min-width: 86px;
  animation-duration: 1000ms;
  margin: 39px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(92, 107, 192) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1073px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  margin: 8px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 33px 0 0;
}

.u-section-1 .u-text-7 {
  animation-duration: 1000ms;
  margin: 113px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 33px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  margin: 21px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 885px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 204px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 137, 203) !important;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 885px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 75px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 170px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1115px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding: 10px 16px 10px 15px;
  }
}